@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.75rem;
  padding-top: var(--app-padding-top);
  font-weight: normal;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1.5rem;
  z-index: 2;
  height: var(--header-height);
  justify-content: space-between;
}

main {
  flex: 1 0 auto;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  height: var(--footer-height);
  padding: 0 calc(var(--gutter-x)* .5);
  border-top: 0.1rem solid var(--color-border);
  width: 100% !important; /* Override max-width */
}

/* Fonts */
h1 {
  font-family: "Asap", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 0.85rem;
}

h2 {
  font-family: "Asap", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  margin-bottom: calc(var(--gutter-y)* .5);
  font-size: 1.2rem;
}

/* other elements */
hr {
  margin: 1.5rem calc(var(--gutter-x)* .0);
  background-color: var(--color-border);
  border: none;
  height: 0.1rem;
}

button {
  padding: var(--input-padding);
  color: var(--color-button-text);
  background-color: var(--color-primary);
  border: 1px solid var(--color-border);
  border-radius: 0.25rem;
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
  background-color: var(--color-primary-muted);
  box-shadow: 0 0 0 .25rem var(--color-shadow-hover);
  outline: 0
}

.section-box {
  padding: 0.1rem 0;
  background-color: var(--color-section-background);
  border-radius: 0.25rem;
}

.section {
  display: flex;
  flex-direction: column;
  padding: calc(var(--gutter-x)* .5);
  margin-bottom: calc(var(--section-gap) / 2);
}

/*  hyperlink styles */
a {
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}

/* Responsive layout */
@media screen and (max-width: 480px) {
  header {
    flex-direction: column;
    gap: 1rem;
    height: 9rem;
    margin-bottom: 1rem;
    justify-content: space-between;

  }

}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 0.85rem;
  }

  h2 {
    font-size: 1.1rem;
  }

  #app {
    display: flex;
  }
}
